<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">

        {% load static %}
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1>welcome</h1>
            welcome! You can login here!
            <button class='btn btn-primary' type="button" name="button">login</button>
        </div>
        <h1>{{myname}}</h1>
        <ul>
            {% for each in numbers %}
            <li>{{ each }}</li>
            {% endfor %}
        </ul>
    </body>
</html>